@import '../index';

.cards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    height: 100%;
    width: 100%;
    gap: 50px;
    padding: 50px;
    border-radius: 25px;
    background-color: $backgroundColor;
    
}

@media screen and (max-width : 768px) {
    .cards{
        background-color: transparent;
        padding: 0;
        gap: 20px;
    }
}

