@import '../index';

.abcd{
    @include flexSpaceBetween;
    width: 100%;
}

.ab{
    @include flexColumn;
    gap: 20px;
}

.cd{
    @include flexColumn;
    align-items: end;
    gap: 20px;
}

@media screen and (max-width : 768px){
    .abcd{
        flex-direction: column;
    }

    .cd{
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
}