.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    
}

h1,li {
    font-family: 'Montserrat', sans-serif;
}



a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #FF6060;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 1px solid brown;
    border-radius: 25px;
    height: 200px;
    
}

.imgBanner {
    position: relative;
    border: 1px solid green;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}
h1 {
    display: flex;
    position: absolute;
    color: white;
    border: 1px solid orange;
    font-weight: 500;
    font-size: 48px;
}
