@import 'mixins';

.collapser {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    width: 100%;
    
}

.collapser .title {
    @include flexSpaceBetweenCenter;
    color: $titlesChevronsCounter;
    background-color: $mainColorTheme;
    font-size: 24px;
    font-weight: 700;
    padding: 5px 20px; 
}

.collapser .content {
    background-color: $backgroundColor;
    color: $mainColorTheme;
    padding: 20px;
    border-radius: 0 0 10px 10px;
}

.chevron {
    @include flexCenter;
    width: auto;
    font-size: 30px;
}

