.collapser {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    width: 100%;
    
}

.collapser .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #FF6060;
    font-size: 24px;
    font-weight: 700;
    padding: 5px 20px; 
}

.collapser .content {
    background-color: #F6F6F6;
    color: #FF6060;
    padding: 20px;
    border-radius: 0 0 10px 10px;
}

.chevron {
    display: flex;
    justify-content: center;
    width: auto;
    font-size: 30px;
}

