@import 'mixins';

.footer {
    @include mixinFooter;
    background-color: $backgroundFooter;
    color: $titlesChevronsCounter;
    height: 210px;
}

.footerInfos {
    @include flexColumnCenter;
    gap: 30px;
}

.footerInfos .copyright {
    font-size: 20px;
}