@import 'mixins';

.navbar {
    color: $mainColorTheme;
    font-weight: 500;
}

.navOptions {
    display: flex;
    font-size: 24px;
    gap: 100px;
}

@media screen and (max-width : 768px) {
    .logo img{
        width: 145px;
    }

    .navOptions{
        gap: 20px;
        font-size: 12px;
        justify-content: space-between;
    }
}