.logo {
    margin: 25px 50px 0px 50px;
    border: 1px solid purple;
}

.navbar {
    
    margin: 25px 50px 0px 0px;
    border: 1px solid blue; 
    color: #FF6060;
    font-weight: 500;
}

.navOptions {
    display: flex;
    font-size: 24px;
    gap: 100px;
}