@import 'mixins';

.pageLayout{
    @include flexColumn;
    min-height: 100dvh;
    gap: 30px;
    max-width: 1440px;
    margin: 0 auto;
}

.pageLayout .main {
    flex: 1;
}

.pageLayout .wrapper{
    padding: 0 44px;
    flex: 1;
}

.pageLayout .header{
    @include flexAlignCenter;
    min-height: 160px;
}

.productLayout{
    @include flexColumn;
    min-height: 100dvh;
}

@media screen and (max-width : 768px) {
    .header .wrapper{
        justify-content: space-between;
    }

    .pageLayout .wrapper{
        padding: 0 20px;
        min-height: 80px;
    }
}