h2, h3{
  color:  #FF6060;
}

h2{
  font-size: 36px;
  font-weight: 500;
}

h3{
  font-size: 18px;
}

.productBanner {
  position: relative;
    border: 1px solid red;
    border-radius: 30px;
    overflow: hidden;
  }
  
  .productBanner .imgProduct {
    display: block;
    width: 100%;
    height: auto; 
    max-height: 400px;
    object-fit: cover;
  }
  
  .productBanner .chevron {
    font-size: 100px;
    font-weight: 100;
    color: white;
    border: 1px solid blue;
    cursor: pointer;
    
  }
  
  .productBanner .uiContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    
  }
  
.productLayout .wrapper{
    padding: 0 44px;
    flex: 1;
}

 .productBanner .counter {
    display: flex;
    align-self: end;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 20px;
    color:white;
    border: 1px solid green;
}

.main{
  position: relative;
  margin-top: 20px;
}

.tags{
  display: flex;
  gap: 5px;
}
.tag{
  text-align: center;
  border-radius: 10px;
  min-width: 74px;
  padding: 5px 10px;
  background-color: #FF6060;
  color: white;
}

.imgProfile{
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.collapserdescriptions{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}

.profile{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 20px;
}

.profileName{
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 5px;
}

.stars{
  display: flex;
  justify-content: end;
  font-size: 30px;
  gap: 10px;
  color:  #E3E3E3;
  border: 1px solid red;
}




