
 
 .profileName h2, .profileName h3, .productLabel{
  color:  #FF6060;
}

 .profileName h2{
  font-size: 36px;
  font-weight: 500;
}

.profileName h3 {
  font-size: 18px;
}

.productBanner {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  }
  
  .productBanner .imgProduct {
    display: block;
    width: 100%;
    height: auto; 
    max-height: 400px;
    object-fit: cover;
  }
  
  .productBanner .chevron {
    font-size: 100px;
    font-weight: 100;
    color: white;
    cursor: pointer;
    
  }
  
  .productBanner .uiContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    
  }
  
.productLayout .wrapper{
    padding: 0 44px;
    flex: 1;
}

 .productBanner .counter {
    display: flex;
    align-self: end;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 20px;
    color:white;
}

.main{
  position: relative;
  margin-top: 20px;
}

.tags{
  display: flex;
  gap: 5px;
}
.tag{
  text-align: center;
  border-radius: 10px;
  min-width: 74px;
  padding: 5px 10px;
  background-color: #FF6060;
  color: white;
}

.imgProfile{
  border-radius: 50%;
  width: 80px;
  aspect-ratio: 1/1;
}

.collapserdescriptions{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.profile{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 20px;
}

.profileName{
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 5px;
}

.stars{
  display: flex;
  gap: 10px;
}

.star{
  font-size: 30px;
  color:  #E3E3E3;
}

@media screen and (max-width : 768px) {
  .productBanner .chevron{
    font-size : 30px;
  }

  .stars{
    gap: 5px;
  }
  .star{
    font-size: 18px;
  }

  .imgProfile{
    width: 32px;
  }

  .profileName h3{
    font-size: 12px;
  }

  .tag{
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 5px;
  }
}




