@import '../index';

.collapsers {
    @include flexColumnCenter;
    gap: 30px;
    padding: 0 100px;
}

.collapsers .text{
    color: $mainColorTheme;
}

@media screen and (max-width: 768px) {
    .collapsers{
        padding: 0;
    }
}
