@import '../index';
 
 .profileName h2, .profileName h3, .productLabel{
  color: $mainColorTheme;
}

 .profileName h2{
  font-size: 36px;
  font-weight: 500;
}

.profileName h3 {
  font-size: 18px;
}

.productLayout .wrapper{
    padding: 0 44px;
    flex: 1;
}

.main{
  position: relative;
  margin-top: 20px;
}

.tags{
  display: flex;
  gap: 5px;
}
.tag{
  text-align: center;
  border-radius: 10px;
  min-width: 74px;
  padding: 5px 10px;
  background-color: $mainColorTheme;
  color: $titlesChevronsCounter;
}

.imgProfile{
  border-radius: 50%;
  width: 80px;
  aspect-ratio: 1/1;
}

.collapserdescriptions{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.profile{
  @include profile;
  gap: 20px;
}

.profileName{
  @include flexColumn;
  align-items: end;
  gap: 5px;
}

@media screen and (max-width : 768px) {
  .productBanner .chevron{
    font-size : 30px;
  }

  .imgProfile{
    width: 32px;
  }

  .profileName h3{
    font-size: 12px;
  }

  .tag{
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 5px;
  }
}




